@model FromZeroToHero.Models.Hero;

@{
  ViewBag.Title = @Model.Headline;
}

<div class="hero">
  <h1 class="append-dot">@Model.Headline</h1>
  <div class="summary">
    @Model.Summary
  </div>
  <div class="button">
    <a href="@Model.CtaUrl">@Model.CtaLabel</a>
  </div>
<div>
