@model FromZeroToHero.Models.Hero;

@{
  ViewBag.Title = @Model.Headline;
}
  <h1>@Model.Headline</h1>
  <div>
    @Model.Summary
  </div>
  <div>
    <a href="@Model.CtaUrl">@Model.CtaLabel</a>
  </div>